<%= render 'shared/search_form', url: articles_path, options: [['Title', 'title'], ['Body', 'body'], ['User', 'body']], search_allow: true %>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	    	<th>#</th>
	      <th>Title</th>
	      <th>Body</th>
	      <th>User</th>
	      <th>Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% articles.try(:each_with_index) do |article, index| %>
		  <tr>
		  	<td><%= ((params[:page].try(:to_i)|| 0) * 20 || 0) + index + 1 %></td>
		    <td><%= article.title %></td>
		    <td><%= truncate(article.body, length: 100) %></td>
		    <td><%= article.user.name %></td>
		    <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, article %>
		    	<%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_article_path(article) %>
		    	<%= link_to '<i class="fa fa-trash-o text-danger"></i>'.html_safe, article, method: :delete, data: { confirm: 'Are you sure?' } %>
		    </td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
</div>
<%= paginate articles, theme: 'twitter-bootstrap-4' %>