<%= render 'users/shared/header_title', title: 'Sign up' %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :horizontal_form) do |f| %>
  <div class="row justify-content-center">
    <%= f.error_notification %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions row justify-content-center">
  	<div class="col-md-4">
  		<%= render "users/shared/links" %>
  	</div>
  	<div class="col-md-4">
  		 <%= f.button :submit, "Sign up" %>
  	</div>
  </div>
<% end %>


